header{
    text-transform: uppercase;
    color: var(--txt-clr-1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 40px;
    inset-inline: 0;
    margin-left: 4rem;

    font-family: "Barlow condensed", sans-serif;
  }
  header nav{
    background-color: var(--nav-bg-clr);
    background-color: hsla(0, 0%, 100%, 4%);
    padding-left: 10rem;
    backdrop-filter: blur(10px);
  
    display: flex;
    align-items: center;
    width: 60%;
    height: 6rem;
    padding-left: 7rem;
    position: relative;
    z-index: 2;

    /* border:  1px solid red; */
    
  }
  
  header nav::before{
    content: "";
    display: block;
    height: 1px;
    width: 60%;
    position: absolute;
    left: -54%;
    /* background-color: var(--txt-clr-1); */
    background-color: var(--hover-clr);
  
  }
  
  header nav ul{
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
    height: 100%;

    /* border:  1px solid yellow; */
  }
  header nav ul li{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
  }
  header nav ul li:nth-child(1)::after{
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    background-color: var(--txt-clr-1);
    position: absolute;
    bottom: 0;
  }
  header nav ul li a{
    color: var(--txt-clr-1);
    font-size: 16px;
    /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    text-decoration: none;
    letter-spacing: .2rem;
    /* transform: scaleY(1.4); */
  }
  header nav ul li a span{
    color: var(--txt-clr-1);
    font-weight: bold;
  }
  header nav ul li::after{
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    background-color: transparent;
    position: absolute;
    bottom: 0;
  }
  header nav ul li:hover::after{
    display: block;
    background-color: var(--hover-clr);
  }
  