.destination{
    background: url(./destination-assets/background-destination-desktop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  
    width: 100%;
  
    display: flex;
    justify-content: center;
    
    /* border: 2px solid red; */
    /* display: none; */
  }
  .moon-container{
    display: flex;
    flex-direction: column;
    align-self: center;
    
    gap: 65px;
  
    width: 100%;
    max-width: 78%;
    /* max-width: 1118.5px; */
    height: 100%;
    padding-top: 212px;
    padding-bottom: 6rem;
    text-transform: uppercase;
  
    border: 2px solid red;
  }
  .destination h2{
    /* font-family: "Barlow Condensed" sans-serif; */
    font-family:'Barlow condensed', sans-serif;
    font-weight: 300;
    letter-spacing: .2rem;
  }
  .destination h2 span{
    color: #695858;
    font-weight: bold;
  }
  .destination .content-bx{
    width: 100%;
  
    display: flex;
    justify-content: center;
    gap: 175px;
    
  }
  .destination .content-bx > .left{
    max-width: 27.8125rem;
    aspect-ratio: 1;
  }
  .destination .content-bx > .right{
    max-width: 25%;
    max-width: 27.8125rem;
    color: var(--txt-clr-2);
  
    display: flex;
    flex-direction: column;
    gap: 1rem;
    gap: 10px;
  }
  .destination .content-bx .right .tab-bx{
    font-family:'Barlow condensed', sans-serif;
    display: flex;
    gap: 2.25rem;
    list-style: none;
  
    font-size: 1rem;
    
  }
  .destination .content-bx .right .tab-bx li{
    height: 100%;
    position: relative;
    cursor: pointer;
  }
 .destination .content-bx .right .tab-bx li::after{
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    background-color: transparent;
    /* background-color: var(--txt-clr-1); */
    position: absolute;
    bottom: -8px;
  }
 .destination .content-bx .right .tab-bx li:hover::after{
    display: block;
    background-color: var(--hover-clr);
  }
  .destination .content-bx .right h3{
    color: var(--txt-clr-1);
    font-size: 100px;
    font-family: "Bellefair", sans-serif;
    font-weight: 300;
  }
  .destination .content-bx .right p{
    text-transform: none;
    font-size: 18px;
    line-height: 2rem;
    font-weight: 300;
    font-family: "Barlow", sans-serif;
  }
  
  .more-details{
    display: flex;
    /* justify-content: space-between; */
    gap: 79px;
  
    margin-top: 2rem;
    padding-top: 1.5rem;
    border-top: 1px solid var(--txt-clr-2);
  }
  .more-details .left,
  .more-details .right{
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  .more-details .avg-distance,
  .more-details .travel-time{
    font-size: 14px;
    font-family: "Barlow condensed", sans-serif;
  }
  
  .more-details .avg-distance__value{
    font-size:  28px;
    font-family: "Bellefair";
  }