/**My styles**/

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --pri-clr: #000;
  --nav-bg-clr: rgba( 150, 150, 150, .3);
  --explore-hover: rgba( 200, 200, 200, .2);
  --txt-clr-1: #f9f9f9;
  --txt-clr-2: #D0D6F9;
  --h1-span-clr: #695858;
  --h3-span-clr: #979797;
  --indicator-border: #979797;

}
body{
  /* background: url(./components/main/background-home-desktop.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
  font-family: "Bellefair", serif;
  font-weight: 300;
  font-style: normal;
  color: var(--txt-clr-1);

  width: 100%;
  height: 100vh;
}


/***## Destination styling ##***/

/***### Moon ###***/





